<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- <h1 id="username1"></h1>
    <p id="datetime1"></p>

    <h1 id="username2"></h1>
    <p id="datetime2"></p> -->

    <div id="current_people">
        <div id="wrapper">
            <img id="avator" src=""/>
        </div>
        <div>
            <h1 id="username3"></h1>
            <p id="datetime3"></p>
        </div>
        
    </div>

    <script src="/static/main.js"></script>
</body>
</html>